* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', 'Tahoma', 'Verdana', sans-serif;
    line-height: 1.7em;
    height: 100%;
}

body {
    background-image: url("../images/test-bg.jpg");
    background-attachment: fixed;
    background-color: rgb(188,188,188);
    background-blend-mode: multiply;
}

header {
    background-color: rgb(48, 48, 48);
    border: solid 2px;
}

nav {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar ul {
  display: flex;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar ul li a {
    font-size: 32px;
    color: white;
}

#navbar ul li a:hover {
  color: rgb(255, 255, 125);
}

.centeredimage {
    display: block;
    margin: auto;
    width: 75%;
}

aside {
    border: solid 2px;
    background-color: rgb(44, 44, 44);    
    background-blend-mode: multiply;
    padding-bottom: 128px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer {
    border: solid 2px;
    background-color: rgb(25, 25, 25);
    text-align: center;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    bottom: 0;
}

section {
    width: 60%;
    margin: 0 auto;
}

article {
    background-color: rgba(25, 25, 25, 0.9);
    padding-bottom: 8px;
    margin-bottom: 12px;
    
    margin-right: auto;
}

p {
    color: rgb(255,255,255);
}

h1 {
    padding-bottom: 30px;
    color: rgb(255,255,255);
}

h2 {
    color: rgb(255,255,255);
}

h3 {
    color: rgb(255,255,255);
}

a {
    color: rgb(255,255,255);
}