* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: burlywood;
    font-family: 'Segoe UI', 'Tahoma', 'Verdana', sans-serif;
    line-height: 1.7em;
    height: 100%;
}

body {
    background-image: url("/images/photo-1.jpg");
    background-color: rgb(125,125,125);
    background-blend-mode: multiply;
}

header {
    background-color: rgb(151, 142, 88);
    border: solid 2px;
}

nav {
    display: flex;
    background-color: rgb(173, 163, 104);
    justify-content: center;
    align-items: center;
    height: 60px;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#navbar a {
    color: gold;
    font-size: 28px;
}

aside {
    border: solid 2px;
    background-color: rgb(197, 146, 87);    
    background-blend-mode: multiply;
    padding-bottom: 128px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer {
    border: solid 2px;
    background-color: rgb(104, 77, 47);
    text-align: center;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    bottom: 0;
}

section {
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: 50%;
}

article {
    background-color: rgba(25, 25, 25, 0.9);
    padding-bottom: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 50%;
}

p {
    color: rgb(255,255,255);
}

h1 {
    padding-bottom: 30px;
    color: rgb(255,255,255);
}

h2 {
    color: rgb(255,255,255);
}

h3 {
    color: rgb(255,255,255);
}

a {
    color: rgb(255,255,255);
}